<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome !</a>
    <button type="submit" (click)="onLogout()" >Logout</button>
  </div>
</nav>

<div class="container mt-2">
    <div class="row row-cols-1 row-cols-md-3 g-2">
      <div class="col" *ngFor="let item of products">
        <div class="card">
          <img src="{{ item.image }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text"><b>Description:</b> {{ item.desc }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>